In [1]:
import pandas as pd
import numpy as np

In [45]:
def my_factorial(n):
    assert n >= 0
    if n == 0:
        return 1
    else:
        fact = 1
        for i in range (2,n+1):
            fact *= i
        return fact
#         return i

In [57]:
my_factorial(15)

1307674368000

## OK

In [56]:
np.math.factorial(15)

1307674368000